<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Lịch sử</title>
    <link rel="icon" href="{{ url_for('static', filename = 'images/newLogo-darkbg.png')}}">
    <link rel="icon" href="../static/images/newLogo-darkbg.png">
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Chartjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js">
    <link rel="stylesheet" href="../static/styles/Config.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        /* config table */
        table {
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid white;
            padding: 10px 6px;
        }


        table {
            border-color: white;
        }

        p {
            text-align: center;
            margin: 0;
        }

        .table>:not(caption)>*>* {
            color: white;
            background: #78f1e71f;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f21a;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination button {
            margin: 0 5px;
            padding: 5px 10px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            cursor: pointer;
        }

        .pagination button.active {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }
    </style>
</head>

<body>
    <!-- Logo & navbar & account -->
    <div class="container navbar navbar-expand-md" style="z-index: 2000;">
        <div class="row w-100 align-items-center m-0 fadein">
            <!-- logo -->
            <div class="logo col">
                <span class="d-flex align-items-center gap-4 p-3">
                    <a href="/"><img src="/static/images/newLogo.png" alt=""></a>
                    <a href="#" class="text-black p-0 m-0 text-decoration-none d-md-block d-none">
                        <b class="text-light">Sáng tạo - Vận dụng - Đổi mới </b>
                    </a>
                </span>
            </div>

            <!-- Account  -->
            <div class="col order-md-3 account d-flex justify-content-center justify-content-md-end position-relative">
                <li class="nav-item dropdown list-unstyled">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="{{ url_for('static', filename='images/avt.png') }}" class="img-fluid bg-account"
                            alt="" style="width: 50px; height: 50px; border-radius: 100%;">
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Username: {{username}}</li>
                        <li class="dropdown-item">ID: {{Id}}</li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/main/profile">Profile</a></li>

                        <li><a class="dropdown-item" href="/main/changepass">Change Pass</a></li>
                        <li><a class="dropdown-item" href="/api/auth/logout">Logout</a></li>
                    </ul>
                </li>
            </div>
            <!-- button navbar -->
            <div class="col d-flex d-md-none justify-content-end">
                <button class=" d-flex justify-content-center align-items-center" id="btn-open-navv"
                    style="width: 40px; height:40px;" type="button" data-bs-toggle="collapse" data-bs-target="#nav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <svg id="icon-nav" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </button>
            </div>
            <!-- navbar -->
            <div class="collapse col navbar-collapse smartbar rounded-5" id="navv">
                <ul class="row d-flex align-items-center  navbar-nav d-flex justify-content-around my-1">
                    <li class="col nav-link "><a href="/" class="d-flex justify-content-center">
                            <p>TRANG CHỦ</p>
                        </a></li>
                    <li class="col nav-link "><a href="/main/device" class="d-flex justify-content-center">
                            <p>THIẾT BỊ</p>
                        </a></li>
                    <li class="col nav-link link-active"><a href="/main/history" class="d-flex justify-content-center">
                            <p>LỊCH SỬ</p>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
    <main class="container">
        <div class="row">
            <div class="col-7 zoomin">
                <div class="card ">
                    <div class="container px-5">
                        <div class="col d-flex justify-content-center align-items-center mb-3">
                            <div class="col text-center">
                                <h6 class="m-3">Lịch sử chuyển động</h6>
                            </div>
                            <div class="col-3">
                                <i class="btn bi bi-search" style="color: #6ce5e8;" id="search"></i>
                                <i class="btn bi bi-file-earmark-x " style="color: #ff5c5c;" id="delete"></i>
                                <i class="btn bi bi-filter-circle" style="color:white;" id="Back"></i>
                            </div>
                        </div>
                        <div class="col" id="search-form-block" style="display: none;">
                            <form id="search-form" class="d-flex flex-column justify-content-evenly p-3" method="POST">
                                <label for="start" class="form-lable mt-2   ">Từ: </label>
                                <input required class="form-control" type="date" name="startDate" id="startDate">
                                <label for="end" class="form-lable mt-2">Đến: </label>
                                <input required class="form-control" type="date" name="endDate" id="endDate">
                                <input class="btn btn-success mt-2" style="width: fit-content;" type="submit">
                            </form>
                        </div>
                        <div class="row d-flex justify-content-center mb-4">
                            <button id="confirmDeleteBtn" class="btn btn-danger w-50 h-50"
                                style="display: none; margin:0;">Xóa đã
                                chọn</button>
                        </div>
                        <!-- Table -->
                        <div class="col" style="max-height: 60vh; overflow-y: scroll;">
                            <table class="table h-25" id="data-table">
                                <thead class="text-center">
                                    <tr>
                                        <td><input type="checkbox" id="selectAll"></td>
                                        <th>Thông báo</th>
                                        <th>Thời gian</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="table-body">
                                    {% if data %}
                                    {% for element in data|reverse %}
                                    <tr>
                                        <td><input type="checkbox" class="delete-checkbox"
                                                data-timestamp="{{ element.timestamp }}" style="display: none;"></td>
                                        <td>Đã Phát Hiện Chuyển Động</td>
                                        <td>{{ element.timestamp }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="4">No data</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-5  d-flex flex-column zoomin">
                <div class="card ">
                    <h6 class="text-center mb-4">Camera</h6>
                    <div class="col placeholder-glow">
                        <img class="w-100 h-100" src="http://172.20.10.11:81/stream" alt="Video_Live">
                    </div>
                    <div class="content text-center mt-3">
                        <h5 class="fw-bold">Thời gian: <span id="time"></span></h5>
                        <h5 class="fw-bold">Khu vực: <span style="color: aqua;">Phòng khách</span></h5>
                        <h5 class="fw-bold">Trạng thái: <span style="color: rgb(54, 227, 137);">Hoạt động</span></h5>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
    <script src="../static/scripts/history.js"></script>

</body>

</html>