<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename = 'images/newLogo-darkbg.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/home.css')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <title>Home</title>
</head>

<body>
    <!-- Logo & navbar & account -->
    <div class="container navbar navbar-expand-md" style="z-index: 2000;">
        <div class="row w-100 align-items-center m-0 fadein">
            <!-- logo -->
            <div class="logo col">
                <span class="d-flex align-items-center gap-4 p-3">
                    <a href="/"><img src="/static/images/newLogo.png" alt=""></a>
                    <a href="#" class="text-black p-0 m-0 text-decoration-none d-md-block d-none">
                        <b class="text-light">Sáng tạo - Vận dụng - Đổi mới </b>
                    </a>
                </span>
            </div>

            <!-- Account  -->
            <div class="col order-md-3 account d-flex justify-content-center justify-content-md-end position-relative">
                <li class="nav-item dropdown list-unstyled">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="{{ url_for('static', filename='images/avt.jpg') }}" class="img-fluid bg-account"
                            alt="" style="width: 50px; height: 50px; border-radius: 100%;">
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Username: {{username}}</li>
                        <li class="dropdown-item">ID: {{Id}}</li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/main/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/main/changepass">Change Pass</a></li>
                        <li><a class="dropdown-item" href="/api/auth/logout">Logout</a></li>
                    </ul>
                </li>
            </div>
            <!-- button navbar -->
            <div class="col d-flex d-md-none justify-content-end">
                <button class=" d-flex justify-content-center align-items-center" id="btn-open-navv"
                    style="width: 40px; height:40px;" type="button" data-bs-toggle="collapse" data-bs-target="#nav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <svg id="icon-nav" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </button>
            </div>
            <!-- navbar -->
            <div class="collapse col navbar-collapse smartbar rounded-5" id="navv">
                <ul class="row  navbar-nav d-flex align-items-center justify-content-around my-1">
                    <li class="col nav-link link-active"><a href="/" class="d-flex justify-content-center">
                            <p>TRANG CHỦ</p>
                        </a></li>
                    <li class="col nav-link"><a href="/main/device" class="d-flex justify-content-center">
                            <p>THIẾT BỊ</p>
                        </a></li>
                    <li class="col nav-link"><a href="/main/history" class="d-flex justify-content-center">
                            <p>LỊCH SỬ</p>
                        </a></li>
                </ul>
            </div>


        </div>
    </div>
    <!-- Main content -->
    <div class="container  text-center text-white main">
        <div class="row d-flex align-items-stretch">
            <!-- Main-left content -->
            <div class="col-md-6 col-12 main-left">
                <!-- Nửa trên trái -->
                <div class="row text-center text-white">
                    <!-- Time & Humi & Temp -->
                    <div class="col">
                        <div class="row d-flex">
                            <div class="section zoomin col">
                                <div>
                                    <b>Thời gian</b>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi mb-1 bi-clock" viewBox="0 0 16 16">
                                        <path
                                            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                                    </svg>
                                </div>
                                <div class="mt-2 mb-2" id="time" style="font-weight: bold; font-size: 30px;"></div>
                                <div id="date" style="font-size: 20px;"></div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-between">
                            <div class="section zoomin col">
                                <div>
                                    <b>Nhiệt độ </b>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" fill="currentColor"
                                        class="bi mb-1 bi-thermometer-half symbol-temperature" viewBox="0 0 16 16">
                                        <path
                                            d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415" />
                                        <path
                                            d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1" />
                                    </svg>
                                </div>
                                <div id="temperature"></div>
                            </div>
                            <div class="section zoomin col">
                                <div>
                                    <b>Độ ẩm</b>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi mb-1 bi-droplet" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
                                        <path fill-rule="evenodd"
                                            d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z" />
                                    </svg>
                                </div>
                                <div id="humidity"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Chất lượng kk -->
                    <div class="col section zoomin d-flex flex-column align-items-center justify-content-between">
                        <div>
                            <b>Chất lượng không khí</b>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi  bi-wind" viewBox="0 0 16 16">
                                <path
                                    d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5m-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2M0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5" />
                            </svg>
                        </div>
                        <div id="overal"></div>
                        <div id="aqi"></div>
                    </div>
                </div>
                <!-- Nửa dưới trái - CHUYỂN ĐỘNG -->
                <div class="row text-center text-white" style="min-height: 300px;">
                    <div class="col section zoomin" style="min-height: 300px;">
                        <div>
                            <b>Phát hiện chuyển động</b>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi mb-1 bi-person-walking" viewBox="0 0 16 16">
                                <path
                                    d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M6.44 3.752A.75.75 0 0 1 7 3.5h1.445c.742 0 1.32.643 1.243 1.38l-.43 4.083a1.8 1.8 0 0 1-.088.395l-.318.906.213.242a.8.8 0 0 1 .114.175l2 4.25a.75.75 0 1 1-1.357.638l-1.956-4.154-1.68-1.921A.75.75 0 0 1 6 8.96l.138-2.613-.435.489-.464 2.786a.75.75 0 1 1-1.48-.246l.5-3a.75.75 0 0 1 .18-.375l2-2.25Z" />
                                <path
                                    d="M6.25 11.745v-1.418l1.204 1.375.261.524a.8.8 0 0 1-.12.231l-2.5 3.25a.75.75 0 1 1-1.19-.914zm4.22-4.215-.494-.494.205-1.843.006-.067 1.124 1.124h1.44a.75.75 0 0 1 0 1.5H11a.75.75 0 0 1-.531-.22Z" />
                            </svg>
                        </div>
                        <div class="mt-3">Status: <span id="status_pir" style="font-weight:bold;">Waiting</span></div>
                        <div class="mt-3" id="history" style="background-color:#283b3e;">
                            <table class="table table-bordered table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th colspan="2" scope="col">Lịch sử phát hiện chuyển động</th>
                                    </tr>
                                </thead>
                                <tbody id="data_pir">

                                </tbody>

                            </table>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Main-right content -->
            <div class="col-md-6 col-12 main-right d-flex flex-column">
                <!-- Nửa trên phải - DỰ BÁO THỜI TIẾT -->
                <div class="row">
                    <div class="col section zoomin">
                        <div>
                            <b>Dự báo thời tiết</b>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi mb-2 ms-1 bi-cloud-sun" viewBox="0 0 16 16">
                                <path
                                    d="M7 8a3.5 3.5 0 0 1 3.5 3.555.5.5 0 0 0 .624.492A1.503 1.503 0 0 1 13 13.5a1.5 1.5 0 0 1-1.5 1.5H3a2 2 0 1 1 .1-3.998.5.5 0 0 0 .51-.375A3.5 3.5 0 0 1 7 8m4.473 3a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5z" />
                                <path
                                    d="M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708zm1.734 3.374a2 2 0 1 1 3.296 2.198q.3.423.516.898a3 3 0 1 0-4.84-3.225q.529.017 1.028.129m4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377M14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z" />
                            </svg>
                        </div>
                        <div class="row d-flex mt-3 justify-content-between  text-light">
                            <div class="col  d-flex">
                                <div class="col">
                                    <img src="" id="img_title"
                                        style="background-color: rgb(255,255,255,0.2); border-radius: 10px">
                                </div>
                                <div style="font-size: 12px;"
                                    class="ms-2 col-8 fw-bold col d-flex flex-column justify-content-center text-start">
                                    <div class="col" id="temperature_title">

                                    </div>
                                    <div class="col" id="humidity_title">

                                    </div>
                                    <div class="col" id="wind_title">

                                    </div>
                                </div>

                            </div>

                            <div class="col text-end me-2">
                                <div class="col fw-bold" id="Title"></div>
                                <div class="col" id="time_title" style="font-size:14px;"></div>
                                <div class="col" id="main_weather_title" style="font-size:14px;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <canvas style="width: 100vw; min-height: 200px;" id="myChart"></canvas>
                        </div>
                        <div class="row mt-2 p-1 row-cols-1 row-cols-md-5 g-2 ">
                            <div class="col-3">
                                <button id="day1" class="btn text-light">

                                    <div class="col">
                                        <h5 id="Day1"></h5>
                                    </div>
                                    <div class="col">
                                        <img src="" id="Day1img">
                                    </div>
                                    <div class="col d-flex flex-wrap">

                                        <div class="col">
                                            <div id="Day1temp" class="fw-bold">

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div id="Day1hump" class="text">

                                            </div>
                                        </div>

                                    </div>

                                </button>
                            </div>
                            <div class="col-3">
                                <button id="day2" class="btn text-light">
                                    <div class="col">
                                        <h5 id="Day2"></h5>
                                    </div>
                                    <div class="col">
                                        <img src="" id="Day2img">
                                    </div>
                                    <div class="col d-flex flex-wrap">
                                        <div class="col ">
                                            <div id="Day2temp" class="fw-bold">

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div id="Day2hump" class="text">

                                            </div>
                                        </div>
                                    </div>


                                </button>
                            </div>
                            <div class="col-3">
                                <button id="day3" class="btn text-light">
                                    <div class="col">
                                        <h5 id="Day3"></h5>
                                    </div>
                                    <div class="col">
                                        <img src="" id="Day3img">

                                    </div>
                                    <div class="col d-flex flex-wrap">
                                        <div class="col">
                                            <div id="Day3temp" class="fw-bold">

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div id="Day3hump" class="text">

                                            </div>
                                        </div>
                                    </div>


                                </button>
                            </div>
                            <div class="col-3">
                                <button id="day4" class="btn text-light">
                                    <div class="col">
                                        <h5 id="Day4"></h5>
                                    </div>
                                    <div class="col">
                                        <img src="" id="Day4img">
                                    </div>
                                    <div class="col d-flex flex-wrap">
                                        <div class="col">
                                            <div id="Day4temp" class="fw-bold">

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div id="Day4hump" class="text">

                                            </div>
                                        </div>
                                    </div>


                                </button>
                            </div>
                            <div class="col-3">
                                <button id="day5" class="btn text-light">
                                    <div class="col">
                                        <h5 id="Day5"></h5>
                                    </div>
                                    <div class="col">
                                        <img src="" id="Day5img">
                                    </div>
                                    <div class="col d-flex flex-wrap">
                                        <div class="col">
                                            <div id="Day5temp" class="fw-bold">

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div id="Day5hump" class="text">

                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Nửa dưới phải -->

            </div>
        </div>
    </div>
    <!-- Script open navbar -->
    <script>
        document.getElementById('btn-open-navv').addEventListener('click', function () {
            var navv = document.getElementById('navv');
            navv.classList.toggle('smartbarOpen');
        });
        document.getElementById('icon-nav').addEventListener('click', function () {
            this.classList.toggle('icon-nav-open')
        });
    </script>
    <script src="{{ url_for('static', filename = 'scripts/home.js')}}"></script>
</body>

</html>