<div id="weather-forecast">

    {%if result%}

      {%for data in result%}
      <div id="element">
        <div id="days_of_week">
          {{data.date_of_week}}
        </div>
        <div id="icon">
          <img src="{{data.icon_url}}" alt="Weather - Icon">
        </div>
        <div id="informa">
          <div id="temperature">
            {{data.temp}}°C
          </div>
          <div id="humidity">
            {{data.humidity}}%
          </div>
        </div>
      </div>
      {%endfor%}

    {%endif%}

</div>

<style>
  #weather-forecast{
    display: inline-flex;
    width: auto;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 5px;
  }
  #element{
    height: auto;
    margin: 5px;
    border: 1px solid rgb(9, 146, 224);
    text-align: center;
    padding: 4px 4px;

  }
  #informa{
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: bold;
  }
</style>