body{
    background: linear-gradient(to right, #0097b2, #7ed957);
}

.form{
    max-width: 400px;
    width: 100%;
    transition: box-shadow 0.3s ease;
    background:  rgba(255, 255, 255, 0.715);
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 25px rgb(0, 0, 0, 0.3);
}
.form input::placeholder{
    color: rgb(0, 0, 0,0.5);
}
.form:hover{
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}
.submit-btn{
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
.submit-btn:hover{
    background-color: #28a745;
    color: white; 
    border-color: #28a745;
}
