body{
    background: linear-gradient(to right, #0097b2, #7ed957);
    padding: 20px;

}

.section{
    background:#283b3e ;
    border-radius: 13px;
    width: fit-content;
    min-height:100px;
    height: auto;
    margin: 5px;
    padding: 10px;
}


.logo{
    border-radius: 15px;
}

.logo img{
    max-width: 60px;
    padding: 0;

}
.account img{
    padding:2px;
}

.bg-account{
    border: 0.2rem solid #0097b2;
}
.logo p{
    margin: 0;
    padding: 0;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.smartbar{
    display: block !important;
    background: #283b3e;
    border-radius: 0px;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    max-height:0px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out , max-height 0.7s ease-in-out  ;
}
.smartbarOpen{
    max-height: 142px !important;
    border-radius: 10px;
    opacity: 1;
}
@media screen and (min-width:768px) {
    .smartbar{
        max-width: 300px;
        opacity: 1 !important;
        max-height: fit-content;
    }
}
#icon-nav{
    transition: all 0.4s ease-in-out;
}
.icon-nav-open{
    transform: rotate(-90deg) !important;
}
.smartbar a{
    text-decoration: none;
    font-size: 80%;
    text-decoration-color: aliceblue;
}

.smartbar p{
    color: white;
    text-align: center;
    width: max-content;
    padding: 5px 10px 5px 10px;
    margin: 0;
    font-weight: bolder;
    border-radius: 20px;

}

.smartbar p:hover{
    background-color: rgba(255, 255, 255, 0.319);
}

.main{
    margin-top: 40px; 
}

.navbar button{
    border-radius: 100%;
    color: white;
    background-color: #283b3e;
    width: 50px;
    height: 50px;
}

.main p{
    color: rgba(255, 255, 255, 0.652);
    font-size: 80%;
}

#temperature{
    color:#00e569;
    font-weight:bold;
    font-size:28px;
    margin-top:5px;
}
#humidity{
    color:#0097b2;
    font-weight:bold;
    font-size:28px;
    margin-top:5px;
}

#box{
    font-weight:bold;
    max-width:400px;
    border-radius: 10px;
}

.emoji{
    display:flex;
    align-items: center;
    font-size:25px;
}
#history{
    padding-bottom:0;
}
table.table th,
table.table td {
    background-color: #283b3e;
    color: white;
}

.box {
    background-color: #27403E;
    max-width: 600px;
    border-radius: 20px;
}

.row button {
    width: 100%;
}

h5 {
    font-size: 16px;
}

.text {
   color: rgb(177, 177, 177);
}

.fadein{
    animation: 2s forwards ease fade-in;
}

.zoomin{
    animation: 1s forwards ease zoom-in;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes zoom-in{
    0%{
        scale: 0.5;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
.symbol-temperature{
    color: rgba(9, 206, 9, 0.671);
    font-size: 18px;
}

.dropdown-menu {
    z-index: 1050; /* Đảm bảo nó hiển thị trên các phần tử khác */
}
.main-right {
    position: relative; /* Nếu chưa có */
    z-index: 1; /* Đảm bảo nó ở dưới dropdown */
}
.navbar{
    padding-left: 5vw;
    padding-right: 5vw;
}