body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  background-color: #537AA8;
  display: flex;
  row-gap: 5px;
  flex-direction: row;

  justify-content: center;
  align-items: stretch;
}
div{
margin: 0px;
padding: 0px;
}
.main-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.main-right{
  display: flex;
  flex-direction: column;
  margin: 0px;
  border-radius: 2%;

}
.tittle{
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #2554AF;
  text-shadow: #537AA8 2px 2px 5px;
}
.button-section{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
button{
  width: 40px;
  background-color: #c1e0ff;
  border-radius:15px;
  border: none;
}

.adiv {
  background-color: #94BDED;
  padding: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  border-radius: 10px;
  height: 100%;
}
/* ============ DEMO ESP8266 ============================= */
.container{

  display: flex;
  flex-direction: column;
  padding: 25px;
  row-gap: 20px;
}
.led_main,.ledD0,.ledD1,.Traffic{

  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 10px;
  margin: 10px;
}
.led-button,.ledD0-button,.ledD1-button,.led-traffic-button{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-between;
}

/*  ============DỰ BÁO THỜI TIẾT ==================================== */
.weather-forecast{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px;
  row-gap: 15px;
  height: 100%;
}
.Tittle{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.nhiet_do,.do_am{
  font-size: 18px;
  font-weight: bold;
}
canvas{
  width: 500px;

}

button:hover{
  box-shadow: 2px 2px 5px #373a41;
}
#user{
  display: flex;
  align-items:center;
  justify-content: center;
}
#user p{
  font-size: 11px;
  margin: 0;
  padding-right: 4px;

}
#user input{
  font-size: 11px;
}